* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.container-title {
  width: 80%;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(10, 118, 79);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-shadow: 8px 6px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.item {
  position:relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item:after {
  content: '';
  position:absolute;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: -1;
}

.item:hover{
  transform:scale(1.10,1.10);
}

.item:hover::after{
  opacity: 1;
}


.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(14, 141, 150);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
}

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  background-color: rgb(241, 241, 238);
  height: 100vh;
}

.cart .cart__items {
  height: 500px;
  overflow-y: scroll;
}

.cart .cart__item {
  padding: 0.8rem;
  font-size: 14pt;
  list-style: none;
  border: 2px solid rgb(12, 97, 84);
  border-radius: 5px;
  box-shadow: 8px 6px 5px rgba(0, 0, 0, 0.4);
  width: 90%;
  margin: 8px auto;
}

.empty-cart {
  padding: 5px;
  width: 170px;
  font-size: 16pt;
  height: 65px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid rgb(12, 97, 84);
  background-color: rgb(249, 249, 246);
  box-shadow: 8px 6px 5px rgba(0, 0, 0, 0.4);
}

.cart .empty-cart:hover , .cart__item:hover {
  color: rgb(221, 221, 221);
  background-color: rgb(12, 97, 84);
  transition-duration: 0.5s;
}

.valorTotal {
  font-size: 18pt;
  margin: 1.2rem auto;
  padding: 20px 5px 15px;
  border: 2px solid rgb(157, 177, 174);
  background-color: rgb(233, 240, 236);
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.4);
}

